<mat-card>
    <mat-tab-group animationDuration="0">
        <mat-tab label="Overview">
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-form-field style="width:100%;">
                        <mat-label>Uploader</mat-label>
                        <app-fake-uploader
                            [multiple]="true"
                            formControlName="uploader"
                            [allowedExtensions]="['txt', 'png']"
                            fileSaveEndpoint="https://endpointurl/upload"
                            fileDeleteEndpoint="https://endpointurl/delete">
                        </app-fake-uploader>
                    </mat-form-field>
                </form>
                <br><br>

                Uploader value:
                <pre>{{ form.value | json }}</pre>

                <br><br>
                <p>Override colors using the following css vars:</p>
                <ul>
                    <li>--dominus-uploader-error-color: Error text color</li>
                    <li>--dominus-uploader-file-hover-border-color: Border color when hovering over with a file</li>
                </ul>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Api">
            <mat-card-content>
                <app-uploader-docs></app-uploader-docs>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>
