<mat-card class="card">
    <mat-tab-group animationDuration="0">
        <mat-tab label="Overview">
            <mat-card-content>
                <mat-tab-group animationDuration="0">
                    <mat-tab label="Multiple files uploader">
                        <br><br>
                        <mat-card-subtitle>
                            <h2>Multiple files uploader</h2>
                        </mat-card-subtitle>
                        <form [formGroup]="multipleFilesForm">
                            <app-fake-uploader
                                [multiple]="true"
                                type="file-uploader"
                                formControlName="uploaderValue"
                                [allowedExtensions]="['txt', 'png']"
                                fileSaveEndpoint="https://endpointurl/upload"
                                fileDeleteEndpoint="https://endpointurl/delete">
                            </app-fake-uploader>
                        </form>
                        <br><br>

                        Uploader value:
                        <pre>{{ multipleFilesForm.value | json }}</pre>
                    </mat-tab>

                    <mat-tab label="Single files uploader">
                        <br><br>
                        <mat-card-subtitle>
                            <h2>Single files uploader</h2>
                        </mat-card-subtitle>
                        <form [formGroup]="singleFilesForm">
                            <app-fake-uploader
                                [multiple]="false"
                                type="file-uploader"
                                formControlName="uploaderValue"
                                [allowedExtensions]="['txt', 'png']"
                                fileSaveEndpoint="https://endpointurl/upload"
                                fileDeleteEndpoint="https://endpointurl/delete">
                            </app-fake-uploader>
                        </form>
                        <br><br>

                        Uploader value:
                        <pre>{{ singleFilesForm.value | json }}</pre>
                    </mat-tab>

                    <mat-tab label="Multiple image uploader">
                        <br><br>
                        <mat-card-subtitle>
                            <h2>Multiple image uploader</h2>
                        </mat-card-subtitle>
                        <form [formGroup]="multipleImageUploaderForm">
                            <app-fake-uploader
                                [multiple]="true"
                                type="image-uploader"
                                formControlName="uploaderValue"
                                [allowedExtensions]="['png', 'jpg', 'gif']"
                                fileSaveEndpoint="https://endpointurl/upload"
                                fileDeleteEndpoint="https://endpointurl/delete">
                            </app-fake-uploader>
                        </form>
                        <br><br>

                        Uploader value:
                        <pre>{{ multipleImageUploaderForm.value | json }}</pre>
                    </mat-tab>

                    <mat-tab label="Single image uploader">
                        <br><br>
                        <mat-card-subtitle>
                            <h2>Single image uploader</h2>
                        </mat-card-subtitle>
                        <form [formGroup]="singleImageUploaderForm">
                            <app-fake-uploader
                                [multiple]="false"
                                type="image-uploader"
                                formControlName="uploaderValue"
                                [allowedExtensions]="['png', 'jpg', 'gif']"
                                [allowDeleteAction]="false"
                                fileSaveEndpoint="https://endpointurl/upload"
                                fileDeleteEndpoint="https://endpointurl/delete">
                            </app-fake-uploader>
                        </form>
                        <br><br>

                        Uploader value:
                        <pre>{{ singleImageUploaderForm.value | json }}</pre>
                    </mat-tab>
                </mat-tab-group>

                <br><br>
                <p>Override colors using the following css vars:</p>
                <ul>
                    <li>--dominus-uploader-error-color: Error text color</li>
                    <li>--dominus-uploader-file-hover-border-color: Border color when hovering over with a file</li>
                </ul>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Api">
            <mat-card-content>
                <app-uploader-docs></app-uploader-docs>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>
